@charset "utf-8";

/*统一设置*/
* {
	margin: 0;
	padding: 0;
}

/*整体网页背景图片*/
body {	
	background:#789 url(images/main_bg.jpg) no-repeat;
	background-size: cover;
}

/*登录区主体*/
#main {
	width: 350px;
	height: 600px;
	background: #fff;
	margin: 40px auto;
	border-radius: 5px;
	border-top: 8px solid #0cc;
	position: relative;
	/*box-shadow: 3px 3px 5px 1px #4D4D4D;*/
}

/*头像区*/
#header-border {
	width: 198px;
	height: 198px;
	border-radius: 50%;
	margin: 50px auto;	
	box-shadow: 0px 0px 20px #ccc;
	position: relative;
}

/*头像区内部*/
#header-pic {
	width: 184px;
	height: 184px;
	border-radius: 50%;
	background: #0cc;	
	position: absolute;
	left: 7px;
	top: 7px;
	background: url(images/liudehua.jpg) no-repeat;
	background-size: cover;
}

/*账号密码区域*/
#account {
	width: 75%;	
	border-radius: 8px;
	box-shadow: 1px 1px 5px 1px #bbb;
	margin: 0 auto;
	padding: 5px;
}

/*表单元素*/
#account .input {
	height: 45px;
	line-height: 45px;
}

#account .input label {
	display: inline-block;
	width: 30%;
	color: #999;
	font-size: 16px;
	letter-spacing: 1px;
}

#account .input input {
	width: 65%;
	height: 30px;
	border: none;
	outline: none;
	color: #0cc;
	font-size: 16px;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

/*登录按钮*/
.login-btn {
	display: block;
	height: 40px;
	width: calc(75% + 10px);
	margin: 30px auto;	
	border: none;
	outline: none;
	background: -webkit-linear-gradient(top,#00cccc,#00b0b0);
	background: -moz-linear-gradient(top,#00cccc,#00b0b0);
	border-radius: 5px;
	color: #fff;
	box-shadow: 1px 1px 2px 1px #bbb;
	cursor: pointer;
	position: relative;
}

.login-btn:active {
	top: 2px;
}

/*登录区底部*/
#footer {
	line-height: 50px;
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#footer a {
	color: #898989;
	text-decoration: none;
}